.image {
    margin: 5px;
    border-radius: 2rem;
   padding-left: 40px;
   
}
.div-container {
   padding-top: 6rem;
   padding-right: 8rem;
}

.page-container{
    padding-top: 3rem;
    display: flex;
    width: 100%;
    flex-wrap: wrap;
    justify-content:space-around;
   
   
}
.image-login{
    
   width: 600px;
   height: 400px;
   border-radius: 10px;


}
     

     